.list-title{
    font-size:1.3rem;
    color: #1e90ff !important;
    padding: 0 0.5rem;
}
.list-news{
    font-size:1.6rem;
    color: #1e90ff;
}
.list-context{
    color:#777;
    padding:.5rem;
}
.list-icon{
    padding:.5rem 0;
    color:#AAA;
}
.list-icon span{
    display: inline-block;
    padding: 0 10px;
}
.ant-list-pagination {
  text-align: center;
}