.detail-card{
  position: relative;
}
.detail-card > img{
  width: 100%;
}
.detail-card-left{
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5% 0;
  color: white;
  text-align: center;
}
.strong-list{
  font-size: .5rem;
  margin: 0px;
  padding: 0px;
}
.strong-line{
  width: 50%;
}
.detail-card-left > h1{
  color: white;
}
.detail-card-bottom{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.hero-skin{
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 5px;
}
.hero-skin >img{
  width: 100%;
  height: 100%;
}
.active{
  outline: 4px solid rgb(30,144,255);
}
.tags{
  margin: 10px 0
}
.logo{
  margin: 2rem 0
}
.logo>img{
  width: 100%
}